* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  overflow-x: hidden;
  padding: 5px;
  background-image: url(https://images.pexels.com/photos/1723637/pexels-photo-1723637.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

header {
  margin: 35px 20px 20px 20px;
  z-index: 100;
}

#title {
  font-family: monospace;
  margin-bottom: 15px;
  font-size: 3rem;
  color: rgb(51, 187, 255);
  text-shadow: 3px 3px 5px rgb(26, 26, 255);
}

#description {
  font-family: monospace;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: rgb(204, 0, 0);
}

#survey-form {
  padding: 15px;
  border: rgb(0, 153, 92) solid 2px;
  margin: 0 20% 0 20%;
  height: auto;
  width: auto;
  border-radius: 10px;
  font-size: 1.2rem;
  font-family: verdana;
  z-index: 100;
  color: white;
}

.form-group {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
}

label {
  display: flex;
  align-items: center;
  padding: 5px;
}

#name {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  box-sizing: border-box;
  border: black solid 1px;
  border-radius: 5px;
}

#email {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  box-sizing: border-box;
  border: black solid 1px;
  border-radius: 5px;
}

#age {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  box-sizing: border-box;
  border: black solid 1px;
  border-radius: 5px;
}

.form-group > p {
  display: block;
  text-align: justify;
  padding: 5px;  
}

#dropdown {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  box-sizing: border-box;
  border: black solid 1px;
  border-radius: 5px;
}

#textarea {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  box-sizing: border-box;
  border: black solid 1px;
  border-radius: 5px;
}

#submit {
  width: 100%;
  background-color: green;
  border: rgb(0, 77, 0) solid 3px;
  border-radius: 5px;
  padding: 7px;
  color: white;
  font-size: 1.5rem;
}

